@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  width: 95%;
  margin: auto;
  overflow: auto;
}

table, thead, tbody, tr, td, th , .ant-table-container{
  border-color: #acacac !important;
}